<!DOCTYPE html>
<html>
<head>
    <title>MainPage</title>
</head>
<body>

    <% if (Result2 <= 0 ) {  %>
    <h2 style="background-color:brown"> F </h2>
    </br>
    <% } else if (Result2 <= 50 ){ %>
    <h2 style="background-color: aquamarine;"> C </h2>
    <% } else if (Result2 <= 75 ){ %>
        <h2 style="background-color:blueviolet"> B </h2>
     <% } else if (Result2 <= 100 ){ %>
            <h2 style="background-color:blueviolet"> B </h2>
    <% } else {%>
    <h2 style="background-color:chartreuse"> There is No Result </h2>
    <%  }  %>
    
</br>
</body>

</html>